<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Hello {{ name }}, and welcome to Bilmo Api !</title>
        <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;}  
        </style>
    </head>
    <body yahoo bgcolor="#f6f8f1">
        <table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>
                                <header style="width:100%; background:black; color:white; text-align:center; padding: 22px; font-size:22px"><img src="https://zupimages.net/up/21/20/t2hm.jpg" alt="bilmo.com"></header>
                                <p>Hello {{ name }}, and welcome to bilmo api, our team is disposal for any information relating to our market api.</p>
                                <p>The documentation is available at this address:</p>
                                <p><a href="https://127.0.0.1:8000/api/doc">Documentation.pdf</a></p>
                                

                                <p>Our system to generate your information :</p>
                                <h4>Email:</h4>
                                <p>{{ useremail }}</p>
                                <h4>Password:</h4>
                                <p>{{ password }}</p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>